@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Raleway:ital,wght@1,100&display=swap");

.wrapper {
  height: 450px;
  padding: 20px;
  background: #f5f8fc;
  position: relative;
}

.content {
  content: "";
  position: absolute;
  height: 410px;
  width: 95%;
}

.subtitle {
  font-size: 21px;
  line-height: 36px;
  color: #1b3764;
  position: relative;
  margin-bottom: 15px;
}

.subtitle::after {
  content: "";
  position: absolute;
  width: 100px;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: rgba(255, 202, 66, 1);
}

.title {
  font-size: 45px;
  line-height: 54px;
  color: #1b3764;
}
